{
  "extends": ["@favware"],
  "rules": {
    "array-bracket-spacing": "off",
    "eol-last": "off",
    "comma-dangle": "off",
    "no-useless-escape": "off",
    "quotes": "off",
    "no-invalid-this": "off",
    "object-curly-newline": "off",
    "no-mixed-operators": "off",
    "new-cap": "off"
  }
}
