{
  "extends": ["@sapphire"],
  "overrides": [
    {
      "files": ["src/assets/learnsets.ts"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off"
      }
    },
    {
      "files": ["src/assets/abilities.ts", "src/assets/moves.ts", "src/assets/learnsets.ts"],
      "rules": {
        "max-len": "off"
      }
    }
  ]
}
