{
  "extends": ["@sapphire"],
  "rules": {
    "@typescript-eslint/unified-signatures": "off"
  },
  "overrides": [
    {
      "files": ["src/lib/assets/learnsets.ts"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off"
      }
    },
    {
      "files": ["src/lib/assets/abilities.ts", "src/lib/assets/moves.ts", "src/lib/assets/learnsets.ts"],
      "rules": {
        "max-len": "off"
      }
    },
    {
      "files": ["vitest.config.ts"],
      "rules": {
        "spaced-comment": "off"
      }
    }
  ]
}
