name: Update Showdown Tierlists

on:
  schedule:
    - cron: '0 2 * * *'

jobs:
  UpdateTierlists:
    name: Update Showdown Tierlists
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Restore CI Cache
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-12-${{ hashFiles('**/yarn.lock') }}
      - name: Install Deps
        run: yarn
      - name: Run Updater
        run: yarn scripts:smogontiersupdater
      - name: Install Hub
        run: sudo snap install hub --classic
      - name: Commit any changes
        run: |
          git add .;
          if git diff-index --quiet HEAD --; then
            exit 0;
          else
            hub config --global hub.protocol https;
            hub config --global user.email "${GITHUB_EMAIL}";
            hub config --global user.name "${GITHUB_USER}";
            hub remote set-url origin "https://${GITHUB_TOKEN}:x-oauth-basic@github.com/${GITHUB_REPOSITORY}.git";
            git config --local user.email "${GITHUB_EMAIL}";
            git config --local user.name "${GITHUB_USER}";
            git checkout -b favware-bot/update-smogon-tierlists/`date +%F-%H-%M`;
            git commit -sam "refactor: update smogon tierlists";
            hub pull-request -p -m "feat: update smogon tierlists" -m "*bleep bloop* I updated the Smogon tier list" -l "SEM: N/A,Meta: Smogon Tier Update" -a "favna" -r "favna";
          fi
        env:
          GITHUB_USER: Favware-bot
          GITHUB_EMAIL: favwarebot@gmail.com
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
